*
{
    margin: 0;
    padding: 0;
}
.main
{
    border: 1px red solid;
    text-align: center;
    width: 300px;
    margin: 60px auto; /*Mechendo no aliamento da caixa para cima e baixo 0 px e dos lado automatico */
}

/*  a imagem pode não obedecer o contorno da div e para mudar 
    esse aspecto vamos digitar o seguintecomando 
*/
img
{
    width: 100%;
}



/* - Aliamento horizontal da caixa */
