.main
{
    border: 1px red solid;
    text-align: center;
    width: 300px;
}

/*  a imagem pode não obedecer o contorno da div e para mudar 
    esse aspecto vamos digitar o seguintecomando 
*/
img
{
    width: 100%;
}

